<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div id="stepOne" class="steps">
        <h3>1. Téléchargez et complétez le modèle Excel</h3>
        <div class="container">
            <a class="button" href="$resources/spreadsheet/spreadsheet.xlsx">Télécharger le modèle Excel</a>
            <a class="button" href="$resources/example/fonds_Yoyotte.xlsx">Télécharger le fichier exemple</a>
        </div>
    </div>
    <div id="stepTwo" class="steps">
        <h3>2. Enregistrez le modèle au format CSV UTF-8 (délimité par des virgules)</h3>
    </div>
    <div id="stepThree" class="steps">
        <h3>3. Déposez vos fichiers CSV</h3>
        <div data-template="app:if-attribute-set" data-template-attribute="org.exist-db.mysec.user">
            <div class="container">
                <input id="upload" name="upload" type="file" multiple="multiple" accept="text/csv"/>
                <label for="upload">Sélectionner les fichiers</label>
                <ul id="resultUpload"/>
            </div>
        </div>
        <div data-template="app:if-attribute-unset" data-template-attribute="org.exist-db.mysec.user">
            <div class="container alert">
                <p>Le dépôt des fichiers CSV est réservé aux utilisateurs connectés.</p>
            </div>
        </div>
    </div>
    <div id="stepFour" class="steps">
        <h3>4. Sélectionnez votre institution</h3>
        <div class="container">
            <select id="efe">
                <option value="">--</option>
                <option value="CVZ">Casa de Velázquez</option>
                <option value="EFA">École française d'Athènes</option>
                <option value="EFEO">École française d'Extrême-Orient</option>
                <option value="EFR">École française de Rome</option>
                <option value="IFAO">Institut français d'archéologie orientale</option>
            </select>
        </div>
    </div>
    <div id="stepFive" class="steps">
        <h3>5. Cliquez ici</h3>
        <div class="container">
            <button id="convertCSV" class="button">Convertir les fichiers CSV</button>
        </div>
    </div>
    <div id="stepSix" class="steps">
        <h3>6. Téléchargez vos fichiers EAD</h3>
        <div class="container">
            <ul id="resultConvert"/>
            <div id="download">
                <button id="downloadZip" class="button">Télécharger les fichiers</button>
            </div>
        </div>
    </div>
</div>