<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <main>
        <div class="alert">
            <p>Accès refusé. Vous devez être connecté pour consulter cette page.</p>
        </div>
    </main>
</div>